body{background-color: aqua;}
/* This hides all pages */
.page {
    display: none;
}

/* This displays the first page */
.default {
    display: block;
}

/* This displays the page corresponding to the one you clicked on */
:target {
    display: block;
}

/* This hides the default page when another page is clicked */
:target ~ .default {
    display: none;
}
.page, :target ~ .default {
    display: none;
}

.default, :target {
    display: block;
}
