body{background-image: url("../img/hatter.jpg");
                        background-repeat: no-repeat;
                        background-size:  100%;}
/* This hides all pages */
.page {
    display: none;
}

/* This displays the first page */
.default {
    display: block;
}

/* This displays the page corresponding to the one you clicked on */
:target {
    display: block;
}

/* This hides the default page when another page is clicked */
:target ~ .default {
    display: none;
}
.page, :target ~ .default {
    display: none;
}

.default, :target {
    display: block;
}
.navbar{width: 90%;
        margin: auto;
        background-color:rgba(240, 248, 255, 0.815)
        }
.content{width: 90%;
         margin: auto;
         background-color:rgba(240, 248, 255, 0.815);
         margin-top: 5px;}
      
nav a{text-decoration: none;
  padding: 10px;
  color: black;}


b{padding-left: 1rem;
  padding-right: 8rem;}

a:hover{background-color: grey;
       text-decoration: none;}
.menuelemek{float: right;}

#szall img{width: 400px;
      height: 300px;
      margin: auto;}

#szall{width: 450px;
      margin: auto;}

#velen img{width: 400px;
           height: 300px;
           margin: auto;}

#velen{width: 450px;
       margin: auto;}